{% extends "@bulma/system/page.html.twig" %}
{#
  Limit the main content column to a max of 10 units at widescreen and above.
  @see system/page.html.twig in the Bulma theme.
#}
{%
  set page = page|merge({
    'content_attributes': create_attribute().addClass([
      'main-content',
      'column',
      'is-10-widescreen',
    ]),
  })
%}

{# 'commenting' out this trick with false because for the moment we're not
  treating the front page differently #}
{% if false and is_front %}
  {%
    set page = page|merge({
      'navbar_branding': '',
    })
  %}
{% endif %}

{% block navbar %}
{% if page.navbar_branding or page.navbar_social or page.primary_menu %}
{# Top navbar #}
<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      {% if page.navbar_branding %}
      <div class="navbar-item">
      {{ page.navbar_branding }}
      </div>
      {% endif %}
      <div id="js-navbar-burger" class="navbar-burger burger" data-target="navbar-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div id="js-navbar-menu" class="navbar-menu">
      {% if page.navbar_social %}
      <div class="navbar-start">
      {{ page.navbar_social }}
      </div>
      {% endif %}
      {% if page.primary_menu %}
      {{ page.primary_menu }}
      {% endif %}
    </div>
  </div>
</nav>
{% endif %}
{% endblock navbar %}

{% block header_and_search %}
{# Header hero region + search #}
<div class="container">
  <div class="columns is-marginless is-vcentered">
    <div class="column">
      {% if is_front %}
        <h2 class="title is-size-4 is-size-3-tablet is-size-2-widescreen slogan">{{ site_slogan }}</h3>
      {% else %}
        {{ page.header }}
      {% endif %}
      {# 'commenting' out this trick with false because for the moment we're not
  treating the front page differently #}
      {% if false and is_front and site_logo %}
      <div class="columns is-vcentered family-home-branding__front">
        <div class="column">
          <figure class="wordmark image">
            <img src="{{ site_logo }}" alt="{{ site_name }}" />
          </figure>
        </div>
        <div class="column">
        </div>
      </div>
      {% endif %}
    </div>
    <div class="column is-narrow pull-right">
      {{ page.header_search }}
    </div>
  </div>
</div>
{% endblock header_and_search %}
