@charset "utf-8";

html {
  height: 100%;
}

body {
  min-height: 100%;
  background: url('../images/earthatlantic.jpg') center top no-repeat, #000 url('../images/blackstars.jpg') repeat;
}

// Set our custom font for headers
.title,
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-family: $family-serif;
}

// Prevent images from being larger than their Drupal-set size
.image.no-upscale img {
  width: intrinsic;           /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;    /* Firefox/Gecko */
  width: -webkit-max-content; /* Chrome */
}

.navbar-menu {
  z-index: 999;
  position: absolute;
  top: 0;
  right: 2rem;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  );
}

@include from($tablet) {
  .navbar-menu {
    position: inherit;
    top: inherit;
    right: inherit;
    background: inherit;
  }
}

.navbar > .container {
  max-height: 8rem;
}

// Style the wordmark (logo)
.navbar-item .wordmark {
  max-height: 12rem;
}

$navbar-item-img-max-height: 12rem;

.navbar-item .wordmark img {
  height: 100%;
  width: auto;
}

.block-page-title-block .title {
  margin-left: 2em;
}

@include from($tablet) {
  .navbar-brand {
    position: relative;
    left: -1rem;
  }
}

@include desktop {
  .navbar-brand {
    position: relative;
    left: -5rem;
    top: 2rem;
  }
}
