@charset "UTF-8";
// Extend or override Bulma's components,
// ../../node_modules/bulma/sass/components

// Make menu items slightly less far apart so we never entirely lose
// 'Community' on mid-size screens.
// See https://gitlab.com/drutopia/octavia/issues/52
.navbar-item, .navbar-link {
  padding-left: .75rem;
  padding-right: .75rem;
  @include from($widescreen) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.menu-list li {
  @include from($tablet) {
    display: inline-block;
    font-size: 1.2em;
  }
  transform: rotate(-15deg);
}

.menu-list a:hover {
  background-color: $orange;
}

.menu-list a:not(.is-active):not(:hover) {
  text-shadow: 1px 1px 2px black;
}
