@charset "UTF-8";
// Extend or override Bulma's elements ../../node_modules/bulma/sass/elements

// Style the slogan shown at the top of each page
.slogan.title {
  color: $blue;
  font-style: italic;
  font-weight: normal;
  display: inline-block;
  margin-top: 0.8rem; // 1.2rem
  margin-left: 0.6rem; // 0.8rem
}

.hero.is-primary .family-home-branding__front {
  padding: .5rem .75rem;
  .column {
    display: flex;
    justify-content: center;
  }
  .slogan.title {
    margin-top: 0;
    color: $blue;
  }
}

.paragraph {
  border: solid transparent 4rem;
  border-radius: 6rem;
}

.paragraph--type--text {
  background-color: $white-ter;
  color: $black-ter;
}

.paragraph.has-background-image {
  background-clip: border-box;
  background-origin: border-box;
}
