// Bring in Bulma allowing us to extend and override it.

// let our night sky shine through
$background: transparent;
$text: #DDD;

// Set brand colors.
$blue: #81D5DF;
$red: #F47879;
$orange: #ED8B2B;

// Update Bulma's global variables.
$primary: $blue;

$navbar-background-color: transparent;

$white-ter: #F5F5F7;
$black-ter: #2C1E15;

// Update Bulma's derived variables
@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";
$navbar-breakpoint: $tablet;

// Import each part of Bulma separately so we can layer in our styles.
// Extend or override Bulam's base styles in this themes base.scss etc.
@import "../../node_modules/bulma/sass/utilities/_all";
@import "fonts";
@import "../../node_modules/bulma/sass/base/_all";
@import "base";
@import "../../node_modules/bulma/sass/elements/_all";
@import "elements";
@import "../../node_modules/bulma/sass/components/_all";
@import "components";
@import "../../node_modules/bulma/sass/grid/_all";
@import "grid";
@import "../../node_modules/bulma/sass/layout/_all";
@import "layout";

// You can add final styles below or import another Sass or SCSS stylesheet here
// and it will have access to Bulma variables and mixins.

@import '../../node_modules/bulma-extensions/bulma-timeline/dist/bulma-timeline';
