// See visionsunite/visionsunite.libraries.info for how included.

.hero.is-primary {
  background-color: transparent;
  text-shadow: 1px 1px 2px black;
//  Transparency
//  background: linear-gradient(
//      rgba(0, 0, 0, 0.7),
//      rgba(0, 0, 0, 0.7)
//    );
}
